<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="anonor.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="room.pojo.Order" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="pension_id" property="pensionId" jdbcType="INTEGER" />
    <result column="source_id" property="sourceId" jdbcType="INTEGER" />
    <result column="housekeeper_id" property="housekeeperId" jdbcType="INTEGER" />
    <result column="check_in_date" property="checkInDate" jdbcType="DATE" />
    <result column="check_out_date" property="checkOutDate" jdbcType="DATE" />
    <result column="guest_name" property="guestName" jdbcType="VARCHAR" />
    <result column="guest_phone" property="guestPhone" jdbcType="VARCHAR" />
    <result column="income" property="income" jdbcType="REAL" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
  </resultMap>
</mapper>